.thDark{
  background-color: #2b2b33 !important;
}
.thLightDark{
  background-color: #36363d !important;
}
.bg-trasparent {
  background: transparent !important;
  transition: all .3s ease-in-out;
}
.bg-active {
  background: #91541C !important;
  transition: all .3s ease-in-out;
}
.pointer {
  cursor: pointer;
}
.h-auto {
  height: auto;
}
.height-150 {
  height: 150px;
  transition: all .3s ease-in-out;
}
.height-15 {
  height: 15px;
  transition: all .3s ease-in-out;
}
.App {
  text-align: center;
}
.carousel-container {
  margin: 80px 20px 30px;
}
.carousel {
  height: 60vh;
  margin: 50px 20px 50px;
  background: url("https://source.unsplash.com/WLUHO9A_xik/1600x900");
  background-size: cover;
}
.form {
  position: absolute;
  top: 3rem;
  right: 1rem;
}
.btnContent {
  display: flex;
  justify-content: flex-end;
  gap: .5rem;
  margin-top: 1rem;
}
.titleWrapper {
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
}
.childrenWrapper {
  display: grid;
  gap: 1rem .5rem;
  justify-content: center;
  grid-template-columns: auto minmax(auto, 400px);
}
label {
  display: flex;
  align-items: center;
  font-weight: 600;
}
input {
  padding: 4px 10px;
  margin-left: 10px;
  background: transparent;
  color: whitesmoke;
  outline: none;
  border: 2px solid transparent;
  border-bottom: 2px solid rgb(109, 0, 128);
  transition: all .3s linear;
}
input:focus {
  background-color: #36363d;
}
.btn-custom {
  background-color: purple;
  font-size: 22px;
  padding: 4px 25px;
  color: whitesmoke;
  border-radius: 10px;
  outline: none;
  border: none;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .6);
  cursor: pointer;
}
.btn-submit {
  background-color: rgb(39, 217, 39);
  color: black;
}
.span-register {
  font-size: 20px;
  color: rgb(255, 217, 0);
  cursor: pointer;
}
.margin-header {
  margin-top: 150px;
}
.topBar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #91541C;
  padding: 5px 10px;
  z-index: 1000;
}
.margin-search-bar {
  margin-top: 30px;
}
.search-bar {
  position: sticky;
  top: 55px;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: rgb(255,255,255);
  /* background: linear-gradient(0deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,1) 100%); */
  background: #fff;
  padding: 20px 0;
}
.input-search-bar {
  width: 90%;
}
.img {
  height: 100%;
  background: url("https://source.unsplash.com/WLUHO9A_xik/1600x900");
  background-size: cover;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1001;
  background-color: #663B14;
  transition: all .1s ease-in-out;
}
.side-open {
  width: 250px;
  transition: all .1s ease-in-out;
}
.side-close {
  width: 80px;
  transition: all .1s ease-in-out;
}
.logo {
  width: 100%;
  height: 100%;
  background: url("./images/Logo.png") no-repeat center center;
  background-size: auto;
}
.btnMenu {
  position: absolute;
  top: 3px;
  right: 15px;
  background-color: transparent !important;
  border: none !important;
  z-index: 100;
}
.max-width90p {
  max-width: 90% !important;
}
.h-30 {
  height: 30px;
}
.h-100 {
  height: 100vh;
}
.icon-menu-size {
  font-size: 30px;
}
li {
  transition: all .3s ease-in-out;
}
.li-hover:hover {
  background-color: #91541C;
  transition: all .3s ease-in-out;
}
.container-admin {
  position: relative;
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: flex-end;
}
.main {
  height: 100vh;
}
.large {
  width: calc(100% - 80px);
}
.small {
  width: calc(100% - 250px);
}

/* kpi */

.kpi {
  height: 220px !important;
  background-color: #FEFAE0 !important;
}
.kpi::after {
  content: "";
  position: absolute;
  bottom: -50px;
  right: -20px;
  width: 150px;
  height: 180px;
  background: url("./images/kpi1.png") no-repeat center center;
  background-size: auto;
  z-index: 101;
}
.width-60p {
  width: 60%;
}
.kpi-number {
  font-size: 3rem;
}

/* Card Guide */

.imgGuida {
  width: 100px;
  aspect-ratio: 1;
  background: url("./images/imran.png") no-repeat center center;
  background-size: auto;
}

/* tabella clienti */

.spinner {
  position: absolute;
  top: 0;
  left: 10%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}
.table-head {
  position: sticky;
  height: 50px;
  top: 110px;
  z-index: 102;
}
tr {
  transition: all .3s ease-in-out;
}
.table-hover:hover {
  background-color: #cacaca;
  transition: all .3s ease-in-out;
}